<h1 id="title">TABUN</h1>
<div id="subtitle">{{ object.subtitle }}</div>
{{ object.body }}
<div id="app"></div>
<footer>
<p>Tabun is developed by <a href="https://sidmani.com">Sid Mani</a>. This website uses the <a href="http://ethanschoonover.com/solarized">Solarized</a> theme.</p>
{% for c in site %}{% if c.subtitle %}
<a href="{{ c.path }}">{{ c.subtitle }}</a>{% endif %}{% endfor %}
</footer>
