.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

html {
  background-color: #fdf6e3;
}

body {
  margin: auto;
  font-family: Helvetica;
  font-size: 20px;
  max-width: 50em;
  color: #657b83;
  padding-left: 3em;
  padding-right: 3em;
}

h1 {
  color: #b58900;
}

a {
  color: #b58900;
}

footer {
  height: 50px;
  width: 100%;
  font-size: 12px;
}

/* main page */
#title {
  text-align: left;
  font-size: 80px;
  margin-bottom: 0px;
}

#subtitle {
  font-size: 36px;
  padding-bottom: 60px;
  color: #93a1a1;
}

/* deck listing */
.deck {
  border-bottom: 1px solid #657b83;
  padding-bottom: 8px;
  color: #b58900;
}

.deck-version {
  color: #268bd2;
  padding-left: 10px;
}
